.form-input {
  border: 1px solid grey;
  font-size: 16px;
  outline: none;
  padding: 10px 20px;
}

.form-input__invalid {
  border-color: red;
}

.form-input__error-message {
  bottom: 0;
  color: red;
  font-size: 14px;
  left: 0;
  position: absolute;
}
