:root {
  background: #FFFFFF;
  box-sizing: border-box;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 100%;
  line-height: 1.3;
  width: 100%; }

::placeholder {
  color: #757575; }

a,
label,
[data-ember-action] {
  cursor: pointer; }

body {
  height: inherit;
  margin: 0;
  padding: 0;
  width: inherit; }
  body > .ember-view {
    height: inherit;
    width: inherit; }

a {
  text-decoration: none; }

.ember-basic-dropdown {
  position: relative; }

.ember-basic-dropdown, .ember-basic-dropdown-content, .ember-basic-dropdown-content * {
  box-sizing: border-box; }

.ember-basic-dropdown-content {
  position: absolute;
  width: auto;
  z-index: 1000;
  background-color: #ffffff; }

.ember-basic-dropdown-content--left {
  left: 0; }

.ember-basic-dropdown-content--right {
  right: 0; }

.ember-basic-dropdown-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  pointer-events: none; }

.ember-basic-dropdown-content-wormhole-origin {
  display: inline; }

.ember-power-select-dropdown * {
  box-sizing: border-box; }

.ember-power-select-trigger {
  position: relative;
  border-top: 1px solid #757575;
  border-bottom: 1px solid #757575;
  border-right: 1px solid #757575;
  border-left: 1px solid #757575;
  border-radius: 0px;
  background-color: #ffffff;
  line-height: 30px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  min-height: 30px;
  user-select: none;
  -webkit-user-select: none;
  color: inherit;
  /* Minimum clearfix for modern browsers */ }
  .ember-power-select-trigger:after {
    content: "";
    display: table;
    clear: both; }

.ember-power-select-trigger:focus,
.ember-power-select-trigger--active {
  border-top: 1px solid #757575;
  border-bottom: 1px solid #757575;
  border-right: 1px solid #757575;
  border-left: 1px solid #757575;
  box-shadow: none; }

.ember-basic-dropdown-trigger--below.ember-power-select-trigger[aria-expanded="true"],
.ember-basic-dropdown-trigger--in-place.ember-power-select-trigger[aria-expanded="true"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.ember-basic-dropdown-trigger--above.ember-power-select-trigger[aria-expanded="true"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.ember-power-select-placeholder {
  color: #999999;
  display: block;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.ember-power-select-status-icon {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-style: solid;
  border-width: 7px 4px 0 4px;
  border-color: #757575 transparent transparent transparent; }
  .ember-basic-dropdown-trigger[aria-expanded="true"] .ember-power-select-status-icon {
    transform: rotate(180deg); }

.ember-power-select-clear-btn {
  position: absolute;
  cursor: pointer; }

.ember-power-select-trigger-multiple-input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  display: inline-block;
  line-height: inherit;
  -webkit-appearance: none;
  outline: none;
  padding: 0;
  float: left;
  background-color: transparent;
  text-indent: 2px;
  /* There's a browser bug where this selectos cannot be chained with commas */ }
  .ember-power-select-trigger-multiple-input:disabled {
    background-color: #eeeeee; }
  .ember-power-select-trigger-multiple-input::placeholder {
    opacity: 1;
    color: #999999; }
  .ember-power-select-trigger-multiple-input::-webkit-input-placeholder {
    opacity: 1;
    color: #999999; }
  .ember-power-select-trigger-multiple-input::-moz-placeholder {
    opacity: 1;
    color: #999999; }
  .ember-power-select-trigger-multiple-input::-ms-input-placeholder {
    opacity: 1;
    color: #999999; }

.ember-power-select-multiple-options {
  padding: 0;
  margin: 0; }

.ember-power-select-multiple-option {
  border: 1px solid gray;
  border-radius: 0px;
  color: #333333;
  background-color: #e4e4e4;
  padding: 0 4px;
  display: inline-block;
  line-height: 1.45;
  float: left;
  margin: 2px 0 2px 3px; }

.ember-power-select-multiple-remove-btn {
  cursor: pointer; }
  .ember-power-select-multiple-remove-btn:not(:hover) {
    opacity: 0.5; }

.ember-power-select-search {
  padding: 4px; }

.ember-power-select-search-input {
  border: 1px solid #757575;
  border-radius: 0;
  width: 100%;
  font-size: inherit;
  line-height: inherit;
  padding: 0 5px; }
  .ember-power-select-search-input:focus {
    border: 1px solid #757575;
    box-shadow: none; }

.ember-power-select-dropdown {
  border-left: 1px solid #757575;
  border-right: 1px solid #757575;
  line-height: 30px;
  border-radius: 0px;
  box-shadow: none;
  overflow: hidden;
  color: inherit; }

.ember-power-select-dropdown.ember-basic-dropdown-content--above {
  border-top: 1px solid #757575;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.ember-power-select-dropdown.ember-basic-dropdown-content--below, .ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
  border-top: none;
  border-bottom: 1px solid #757575;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
  width: 100%; }

.ember-power-select-options {
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none; }
  .ember-power-select-options[role="listbox"] {
    overflow-y: auto;
    /* in firefox in windows this can cause a word-break issue. Try `overflow-y: scroll` if that happens */
    -webkit-overflow-scrolling: touch;
    max-height: 210px; }

.ember-power-select-option {
  cursor: pointer;
  padding: 0 8px; }

.ember-power-select-group[aria-disabled="true"] {
  color: #999999;
  cursor: not-allowed; }

.ember-power-select-group[aria-disabled="true"] .ember-power-select-option,
.ember-power-select-option[aria-disabled="true"] {
  color: #999999;
  pointer-events: none;
  cursor: not-allowed; }

.ember-power-select-option[aria-selected="true"] {
  background-color: #dddddd; }

.ember-power-select-option[aria-current="true"] {
  background-color: #5897fb;
  color: #ffffff; }

.ember-power-select-group-name {
  cursor: default;
  font-weight: bold; }

.ember-power-select-trigger[aria-disabled=true] {
  background-color: #eeeeee; }

.ember-power-select-trigger {
  padding: 0 16px 0 0; }

.ember-power-select-selected-item, .ember-power-select-placeholder {
  margin-left: 8px; }

.ember-power-select-status-icon {
  right: 5px; }

.ember-power-select-clear-btn {
  right: 25px; }

.ember-power-select-group .ember-power-select-group .ember-power-select-group-name {
  padding-left: 24px; }

.ember-power-select-group .ember-power-select-group .ember-power-select-option {
  padding-left: 40px; }

.ember-power-select-group .ember-power-select-option {
  padding-left: 24px; }

.ember-power-select-group .ember-power-select-group-name {
  padding-left: 8px; }

.ember-power-select-trigger[dir=rtl] {
  padding: 0 0 0 16px; }
  .ember-power-select-trigger[dir=rtl] .ember-power-select-selected-item, .ember-power-select-trigger[dir=rtl] .ember-power-select-placeholder {
    margin-right: 8px; }
  .ember-power-select-trigger[dir=rtl] .ember-power-select-multiple-option {
    float: right; }
  .ember-power-select-trigger[dir=rtl] .ember-power-select-trigger-multiple-input {
    float: right; }
  .ember-power-select-trigger[dir=rtl] .ember-power-select-status-icon {
    left: 5px;
    right: initial; }
  .ember-power-select-trigger[dir=rtl] .ember-power-select-clear-btn {
    left: 25px;
    right: initial; }

.ember-power-select-dropdown[dir=rtl] .ember-power-select-group .ember-power-select-group .ember-power-select-group-name {
  padding-right: 24px; }

.ember-power-select-dropdown[dir=rtl] .ember-power-select-group .ember-power-select-group .ember-power-select-option {
  padding-right: 40px; }

.ember-power-select-dropdown[dir=rtl] .ember-power-select-group .ember-power-select-option {
  padding-right: 24px; }

.ember-power-select-dropdown[dir=rtl] .ember-power-select-group .ember-power-select-group-name {
  padding-right: 8px; }

.ember-power-select-placeholder,
.ember-power-select-selected-item {
  margin-right: 8px;
  white-space: nowrap; }

.ember-basic-dropdown {
  border-radius: 0;
  font-size: 16px;
  width: 100%; }

.ember-power-select-option {
  overflow: hidden;
  white-space: nowrap; }

.ember-power-select-trigger {
  border-radius: 0;
  min-width: 200px;
  padding: 5px 16px 5px 5px; }

.ember-power-select-trigger[aria-disabled=true] {
  cursor: not-allowed; }

.app-container {
  align-items: center;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-top: 100px; }
  @media (max-width: 599px) {
    .app-container {
      padding: 0;
      width: 100%; } }

.charge-form {
  align-items: center;
  background: #EEEEEE;
  display: flex;
  flex-direction: column; }
  @media (max-width: 599px) {
    .charge-form {
      justify-content: flex-start;
      height: 100%;
      padding: 20px 0;
      width: 100%; } }

.charge-form__image {
  margin: 5px;
  min-height: 120px; }
  .charge-form__image img {
    height: fit-content; }

.ember-notify-cn {
  position: fixed;
  z-index: 5000;
  top: 30px;
  right: 50px;
  height: 60px; }

.ember-notify.success {
  background: #69F0AE; }

.ember-notify.warning {
  background: #EF5350; }

.form-button {
  background: #F5F5F5;
  border: 0;
  border-radius: 2px;
  color: #000000;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  max-width: 100%;
  outline: none;
  overflow: hidden;
  padding: 10px 20px;
  text-transform: uppercase;
  white-space: nowrap; }

.form-button--disabled {
  background: #757575 !important;
  cursor: not-allowed; }

.form-button--submit {
  background: #69F0AE; }

.form-container {
  align-items: center;
  background: #EEEEEE;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 50px 30px;
  width: 640px; }
  @media (max-width: 599px) {
    .form-container {
      justify-content: flex-start;
      height: 100%;
      padding: 20px;
      width: calc(100% - 40px); } }

.form-container_row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%; }

.form-error {
  color: #C62828;
  font-size: 14px;
  height: 20px;
  padding: 10px 6px 20px;
  overflow: hidden; }

.form-input-mask {
  border: 1px solid #757575;
  font-size: 16px;
  line-height: 30px;
  min-width: 200px;
  padding: 5px; }

.form-input-mask--disabled {
  background: #EEEEEE !important;
  cursor: not-allowed; }

.form-label {
  cursor: default;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  width: 100%; }
  .form-label > * {
    flex: 0 0 auto; }

.form-label__label {
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin: 0 0 5px;
  overflow: hidden;
  user-select: text;
  white-space: nowrap;
  width: 100%; }

.form-label--error {
  color: #C62828; }

.operators-list {
  align-items: center;
  background: #EEEEEE;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 50px 30px;
  width: 640px; }
  @media (max-width: 599px) {
    .operators-list {
      justify-content: flex-start;
      height: 100%;
      padding: 20px 0;
      width: 100%; } }

.operators-list__items {
  display: flex;
  flex-direction: row; }
  @media (max-width: 599px) {
    .operators-list__items {
      flex-direction: column; } }

.operators-list__item {
  background: #F5F5F5;
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px; }
  .operators-list__item:hover {
    background: #FFFFFF; }
  @media (max-width: 599px) {
    .operators-list__item {
      margin: 15px 0;
      min-height: 110px; } }

.operators-list__item-image {
  max-width: 100%; }

.operators-list__title {
  color: #757575;
  display: flex;
  font-size: 24px;
  margin: 20px 0; }
  @media (max-width: 599px) {
    .operators-list__title {
      margin: 5px 0; } }

/*# sourceMappingURL=webapp.css.map */